## Variáveis de ambiente
PORT=3001
JWT_KEY=seuTokenJWT

## Banco de Dados de DEV
DEV_DB_USERNAME=devapi
DEV_DB_PASSWORD=suaSenhaDeDEV
DEV_DB_NAME=matrizdev
DEV_DB_HOSTNAME=100.200.111.222
DEV_DB_DIALECT=postgres
DEV_DB_LOGGGIN=true

## Banco de Dados de QA
TEST_DB_USERNAME=qaapi
TEST_DB_PASSWORD=suaSenhaDeQA
TEST_DB_NAME=matrizqa
TEST_DB_HOSTNAME=100.200.111.222
TEST_DB_DIALECT=postgres
TEST_DB_LOGGGIN=true

## Banco de Dados de PROD
PROD_DB_USERNAME=prodapi
PROD_DB_PASSWORD=suaSenhaDePROD
PROD_DB_NAME=matrizprod
PROD_DB_HOSTNAME=100.200.111.222
PROD_DB_DIALECT=postgres
PROD_DB_LOGGGIN=false
